<h1> Chef's Dish's Show</h1>

<h2>Chef: <%= @dish.chef_name %></h2>
<h3>Dish Name: <%= @dish.name %></h3>
<h4>Description: <%= @dish.description %></h4>
<h4>Total Calories for this Dish: <%= @dish.total_calories %>

<h4>Ingredients:</h4>

<% @dish.ingredients.each do |ingredient| %>
<div id='ingre_<%= ingredient.id %>' >
  <%= ingredient.name %>
  </div>
<% end %>

<h4>Add Ingredient to Dish</h4>
<%= form_with model: [@dish, @dish_ingred], local: true do |f| %>
  <%= f.label :ingredient, 'Ingredient ID' %>
  <%= f.text_field :ingredient %>
  <%= f.submit 'Submit' %>
<% end %>